<div class="summary_top">
    <div class="summary_top_cont">
        <a class="js-toggle-summary" href="#none" title="항공운임 등 총액 열기">
            <!-- 가격 -->
            <div class="price_wrap" id="summaryTopPrice">
                <span class="total">항공운임 등 총액</span>
                <span class="unit summary_currency">KRW</span>
                <span class="price" id="summary_title_amount">0</span>
                <span class="icon"></span>
            </div>
            <!-- 가격 -->
        </a>

        <!-- 버튼영역 -->
        <div class="float--right font0">
            <!--previous-->
            <button class="stepButton btn_large gray prev" id="buttonPrevRoute" style="display:none;">이전 구간</button>
            <button class="stepButton btn_large gray prev" id="buttonPrevStep" style="display: inline-block;">이전 단계</button>


            <!--next-->
            <button class="stepButton btn_large red next" id="buttonNextRoute" style="display: inline-block;">다음 구간</button>
            <button class="stepButton btn_large red next" id="buttonNextStep" style="display:none;">다음 단계</button>
            <button class="stepButton btn_large gray" date-id="guest_login_layer" date-type="layer" id="buttonGuestStep" style="display:none;">비회원으로 진행</button>
            <button class="stepButton btn_large red" date-id="login_layer" date-type="layer" id="buttonMemberStep" style="display:none;">회원으로 진행</button>
            <input id="btnType" type="hidden" value="">
        </div>
        <!--// 버튼영역 -->
    </div>
</div>