div {
    display: block;
}

.mt20 {
    margin-top: 20px !important;
}
.tab_wrap {
    margin-bottom: 50px;
    display: unset;
}

user agent stylesheet
div {
    display: block;
}

element.style {
    display: none;
}
.tab_cont {
    margin-top: 50px;
}

#choiceInsurance {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    border: 0px;
    z-index: -1;
}

user agent stylesheet
#choiceInsurance {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul, ol, li {
    list-style: none;
}

user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ul_dot li {
    padding: 0.15em 0px 0.15rem 12px;
    color: rgb(77, 77, 77);
    line-height: 1.5;
    background: url(//contents-image.twayair.com/homepage/images/common/ul_dot.png) 0px 14px no-repeat;
}
ul, ol, li {
    list-style: none;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ul_dot li {
    padding: 0.15em 0px 0.15rem 12px;
    color: rgb(77, 77, 77);
    line-height: 1.5;
    background: url(//contents-image.twayair.com/homepage/images/common/ul_dot.png) 0px 14px no-repeat;
}
ul, ol, li {
    list-style: none;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}

.btn_txt {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: rgb(26, 26, 26);
    border-bottom: 1px solid rgb(26, 26, 26);
}
a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    cursor: pointer;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.ul_dot li {
    padding: 0.15em 0px 0.15rem 12px;
    color: rgb(77, 77, 77);
    line-height: 1.5;
    background: url(//contents-image.twayair.com/homepage/images/common/ul_dot.png) 0px 14px no-repeat;
}
ul, ol, li {
    list-style: none;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

.btn_txt.red {
    border-color: rgb(210, 44, 38);
    color: rgb(210, 44, 38) !important;
}

body {
    min-width: 1200px;
    background: rgb(255, 255, 255);
    color: rgb(49, 49, 49);
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Meiryo, "Hiragino Kaku Gothic Pro", "Microsoft Yahei", STXihei, "Microsoft MingLiU", Mingliu, SimHei, "Nanum Gothic", "Yu Gothic", sans-serif;
    word-break: break-word;
}
.btn_txt.red::after {
    background: url(//contents-image.twayair.com/homepage/images/ico/ico_btn_txt_red.png) 0px 0px no-repeat;
}
.btn_txt::after {
    display: inline-block;
    content: "";
    margin-left: 5px;
    width: 8px;
    height: 12px;
    background: url(//contents-image.twayair.com/homepage/images/ico/ico_btn_txt.png) 0px 0px no-repeat;
}

form {
    display: block;
    margin-top: 0em;
}

input {
}
img, input, textarea, select, button {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    color: rgb(49, 49, 49);
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, Meiryo, "Hiragino Kaku Gothic Pro", "Microsoft Yahei", STXihei, "Microsoft MingLiU", Mingliu, SimHei, "Nanum Gothic", "Yu Gothic", sans-serif;
}
user agent stylesheet
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.mb20 {
    margin-bottom: 20px !important;
}

user agent stylesheet
div {
    display: block;
}

.tb_row {
    width: 100%;
    border-top: 1px solid rgb(26, 26, 26);
}
table, td, th {
    font-size: 12px;
}

user agent stylesheet
table {
    text-indent: initial;
}

legend, caption {
    font-size: 0px;
    width: 0px;
    height: 0px;
    line-height: 0;
    margin: 0px;
    padding: 0px;
    background: none;
    text-indent: -9999em;
}

user agent stylesheet
caption {
    display: table-caption;
    text-align: -webkit-center;
}

colgroup {
    display: table-column-group;
}

body {
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tb_row th {
    padding: 20px 30px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(77, 77, 77);
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(245, 245, 245);
}
th {
    text-align: center;
}

user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 0px;
    width: 60%;
}

.tb_row td {
    position: relative;
    padding: 14px 20px;
    font-size: 16px;
    color: rgb(26, 26, 26);
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid rgb(224, 224, 224);
}


user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
}

.grid td .input_wrap:last-child {
    margin-bottom: 0px;
}
.grid table td .input_wrap {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}

.input_wrap .input_date {
    position: relative;
}

.mr10 {
    margin-right: 10px !important;
}
.ml10 {
    margin-left: 10px !important;
}

.input_wrap .input_date input {
    width: 250px;
}
input[readonly] {
    background-color: rgb(245, 245, 245);
    color: rgb(26, 26, 26);
}
input[type="text"], input[type="number"], input[type="email"], input[type="date"], input[type="search"], input[type="tel"], input[type="time"], input[type="password"] {
    padding: 0px 20px;
    height: 46px;
    font-size: 16px;
    color: rgb(26, 26, 26);
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.w200 {
    width: 200px !important;
}
input {
}

.input_wrap .input_date .btn_date {
    display: inline-block;
    position: absolute;
    right: 15px;
    width: 21px;
    height: 21px;
    background: url(//contents-image.twayair.com/homepage/images/ico/ico_date.png) 0px 0px no-repeat;
    text-indent: -9999px;
}
.input_wrap .btn_date {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    background: url(//contents-image.twayair.com/homepage/images/ico/ico_btn_date.png) 50% 50% no-repeat;
    text-indent: -9999px;
}
a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    cursor: pointer;
}


.w260 {
    width: 260px !important;
}

.tb_col {
    width: 100%;
    border-top: 1px solid rgb(26, 26, 26);
}


colgroup {
    display: table-column-group;
}


.tb_col.st th:last-child {
    border-right: none;
}
.tb_col.st th, .tb_col.st td {
    padding: 14px 10px;
}

.tb_col td {
    padding: 20px 14px;
    font-size: 16px;
    color: rgb(26, 26, 26);
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    letter-spacing: -1px;
    border-right: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    padding-left: 32px;
    min-height: 22px;
    vertical-align: middle;
    line-height: 1.4;
    cursor: pointer;
}

.tb_col.st th {
    border-right: 1px solid rgb(224, 224, 224);
}

.tb_col .left {
    text-align: left;
}

.tb_col th {
    padding: 20px 14px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(77, 77, 77);
    text-align: center;
    vertical-align: middle;
    letter-spacing: -1px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(245, 245, 245);
}

.pl30 {
    padding-left: 30px !important;
}
th {
    text-align: center;
}

user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.gray_input_box.sum {
    border: 1px solid rgb(204, 204, 204);
    padding: 22px 40px;
    display: flex;
    place-content: center space-between;
    align-items: center;
    background-color: rgb(254, 244, 243);
}
.gray_input_box {
    border: 0px;
    padding: 30px 40px;
    text-align: left;
    background: rgb(245, 245, 245);
}
.mb20 {
    margin-bottom: 20px !important;
}

